.main-section2-div h1 {
  text-align: center;
  font-size: 40px;
  color: rgb(63, 104, 63);
  font-weight: lighter;
  margin-bottom: 25px;
  margin-top: 50px;
}
.main-section2-div h1:after {
  width: 90px;
  height: 3px;
  background: rgb(241, 168, 11);
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.section2-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: rgb(63, 104, 63);
  margin-top: 60px;
  margin-left: 20px;
}
.main-section-display img {
  height: 90%;
  width: 90%;
}
.section2-div h2 {
  color: rgb(53, 65, 53);
  font-family: "DM Sans", sans-serif;
  margin-bottom: 8px;
  font-weight: lighter;
  font-size: 18px;
  line-height: 19px;
}
.section2-div p {
  display: block;
  margin-block-end: 1em;
  margin-block-start: 1em;
  font-weight: 400;
  font-size: 16px;
  color: rgb(63, 104, 63);
}
/* section 3(customer needs)starts here */

.main-section3-div {
  display: block;
  background-color: rgba(204, 211, 204, 0.171);
  height: 70vh;
  justify-items: center;
  text-align: center;
  align-content: center;
  margin-bottom: 60px;
  margin-top: 50px;
  color: #5b6b4f;
  font-weight: lighter;
}
.quote-tag img {
  margin-top: -10px;
  width: 37px;
  max-width: 37px;
}
.main-section3-div p {
  margin-top: 10px;
  padding: 10px 80px 20px 80px;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: -2px;
  font-family: display forum;
  max-width: 100%;
  text-align: center;
  color: #718a5e;
  font-weight: 400;
  font-family: "Forum", display;
}
.main-section3-div div img {
  margin-bottom: 10px;
}
.main-section4-div {
  display: flex;
  align-items: center;
  gap: 60px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #536942;
  margin-top: 50px;
}
.sub-section h5 {
  font-weight: lighter;
  font-size: 12px;
  margin-bottom: 27px;
}
.sub-section h3 {
  font-size: 35px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: lighter;
  line-height: 40px;
  margin-bottom: 27px;
}
.sub-section p {
  font-size: 18px;
  color: #536941cc;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 400;
  width: 60%;
}
.sub-section button {
  border: 1px solid #5f7a4a;
  border-radius: 6px;
  background-color: transparent;
  width: 150px;
  height: 40px;
  cursor: pointer;
  color: #5f7a4a;
  font-size: 16px;
}
.sub-section button:hover {
  border: 1px solid rgb(182, 255, 47);
  color: rgb(182, 255, 47);
}
.img-div img {
  height: 80vh;
  margin-right: 35px;
}
.main-section5-div {
  background-image: url(./images/footer-hero-big.jpg);
  height: 80vh;
  margin-bottom: 60px;
  margin-top: 20px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-items: center;
  align-content: center;
}
.main-section5-div h2 {
  color: #536942;
  font-weight: lighter;
  font-size: 55px;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 50px;
}

.main-section5-div p {
  color: #536942;
  font-size: x-large;
  margin-bottom: 40px;
  font-weight: 100;
  font-size: 20px;
}
.main-section5-div button {
  border-style: solid;
  border-radius: 2px;
  background-color: #ffd936;
  display: inline-block;
  color: #536942;
  line-height: 1em;
  border-color: transparent;
  width: 150px;
  height: 45px;
  cursor: pointer;
}
.main-section5-div button:hover {
  background-color: rgba(192, 120, 39, 0.75);
}
footer.navbar-footer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  gap: 35px;
  font-size: 16px;
  color: rgba(131, 165, 104, 0.966);
}

.navbar-footer-list {
  list-style: none;
  display: flex;
  gap: 35px;
  margin-right: 22vh;
  justify-content: space-evenly;
}
.navbar-footer-div p {
  margin-left: 40px;
}
@media (max-width: 1024px) {
  .navlinks-display {
    display: flex;
    margin: 0;
    padding: 0;
  }
  .navbar-section-div {
    height: 20%;
  }
  .navbar-section-div div img {
    margin-top: 25px;
  }
  .hero-section {
    height: 80vh;
  }
}
@media (max-width: 960px) {
  .navlinks-display {
    display: none;
  }
  .hero-section {
    height: 70vh;
  }
}
@media (max-width: 834px) {
  .navlinks-display {
    display: none;
  }
  .hero-section {
    height: 65vh;
    align-items: center;
  }
  .hero-section h4 {
    font-size: 35px;
  }
  .hero-section h2 {
    font-size: 90px;
  }
  .hero-section p {
    font-size: 15px;
  }
}

/* media query for section 2 div */
@media (max-width: 1024px) {
  .section2-div {
    margin-left: 35px;
    color: #8d8989;
  }
}
@media (max-width: 768px) {
  .section2-div {
    flex-direction: column;
  }
}

/* media query for section 3 div */
@media (max-width: 1024px) {
  .main-section3-div {
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 30px;
    flex-direction: row;
    flex-wrap-mobile: wrap;
    align-items: stretch;
    gap: 0px 0px;
  }
  .main-section3-div p {
    font-size: 28px;
    line-height: 38px;
    word-spacing: -0.5px;
  }
}
@media (max-width: 834px) {
  .main-section3-div p {
    font-size: 24px;
    letter-spacing: -1.5px;
  }
}

@media (max-width: 768px) {
  .main-section3-div p {
    font-size: 24px;
    letter-spacing: -1.5px;
    line-height: 38px;
  }
}

@media (max-width: 480px) {
  .main-section3-div p {
    font-size: 10px;
    letter-spacing: -0.5px;
    text-align: center;
    align-items: center;
  }
}

/* media query for section 4 div */
@media (max-width: 850px) {
  .sub-section {
    flex-direction: column;
  }
  .img-div img {
    display: none;
  }
}

/* media for footer  navlink */
@media (max-width: 960px) {
  .navbar-footer-div {
    flex-direction: column;
  }
  .navbar-footer-list {
    margin-left: 180px;
  }
  .footer-logo-navsection {
    margin-left: 50px;
  }
}
@media (max-width: 543px) {
  .navbar-footer-div {
    flex-direction: column;
  }
  .navbar-footer-list {
    /* margin-left: 180px; */
    flex-direction: column;
    gap: 20px;
  }
  .footer-logo-navsection {
    margin-left: 50px;
  }
}
