.navbar-section-div {
  background-color: transparent;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0px;
}

.navlinks-display {
  display: flex;
  list-style: none;
  gap: 40px;
  color: white;
  font-size: 18px;
  padding: 20px;
  cursor: pointer;
}
.navbar-section-div div img {
  padding: 2rem;
}
.navlinks-display button {
  border: 1px solid white;
  background-color: transparent;
  width: 140px;
  height: 50px;
  color: white;
  border-radius: 4px;
  margin-top: -25px;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

/* hero-section css starts here */
.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0)),
    url("./images/header-hero.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  align-content: center;
  justify-items: center;
  color: white;
}
.hero-section h4 {
  font-size: 45px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 4px;
  font-weight: lighter;
  margin-bottom: -20px;
}
.hero-section h2 {
  font-size: 100px;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero-section p {
  font-size: 20px;
  margin-bottom: 40px;
}
.hero-section button {
  border-style: solid;
  border-radius: 2px;
  background-color: rgba(243, 243, 15, 0.877);
  border-color: transparent;
  width: 150px;
  height: 45px;
  cursor: pointer;
}
.hero-section button:hover {
  color: white;
  background-color: rgb(160, 160, 2);
}
@media (max-width: 1024px) {
  .navlinks-display {
    display: flex;
    margin: 0;
    padding: 0;
  }
  .navbar-section-div {
    height: 20%;
  }
  .navbar-section-div div img {
    margin-top: 25px;
  }
  .hero-section {
    height: 80vh;
  }
}
@media (max-width: 960px) {
  .navlinks-display {
    display: none;
  }
  .hero-section {
    height: 70vh;
  }
}
@media (max-width: 834px) {
  .navlinks-display {
    display: none;
  }
  .hero-section {
    height: 65vh;
    align-items: center;
  }
  .hero-section h4 {
    font-size: 35px;
  }
  .hero-section h2 {
    font-size: 90px;
  }
  .hero-section p {
    font-size: 15px;
  }
}

/* media query for section 2 div */
@media (max-width: 1024px) {
  .section2-div {
    margin-left: 35px;
    color: #8d8989;
  }
}
@media (max-width: 768px) {
  .section2-div {
    flex-direction: column;
  }
}

/* media query for section 3 div */
@media (max-width: 1024px) {
  .main-section3-div {
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 30px;
    flex-direction: row;
    flex-wrap-mobile: wrap;
    align-items: stretch;
    gap: 0px 0px;
  }
  .main-section3-div p {
    font-size: 28px;
    line-height: 38px;
    word-spacing: -0.5px;
  }
}
@media (max-width: 834px) {
  .main-section3-div p {
    font-size: 24px;
    letter-spacing: -1.5px;
  }
}

@media (max-width: 768px) {
  .main-section3-div p {
    font-size: 24px;
    letter-spacing: -1.5px;
    line-height: 38px;
  }
}

@media (max-width: 480px) {
  .main-section3-div p {
    font-size: 10px;
    letter-spacing: -0.5px;
    text-align: center;
    align-items: center;
  }
}

/* media query for section 4 div */
@media (max-width: 850px) {
  .sub-section {
    flex-direction: column;
  }
  .img-div img {
    display: none;
  }
}

/* media for footer  navlink */
@media (max-width: 960px) {
  .navbar-footer-div {
    flex-direction: column;
  }
  .navbar-footer-list {
    margin-left: 180px;
  }
  .footer-logo-navsection {
    margin-left: 50px;
  }
}
@media (max-width: 543px) {
  .navbar-footer-div {
    flex-direction: column;
  }
  .navbar-footer-list {
    /* margin-left: 180px; */
    flex-direction: column;
    gap: 20px;
  }
  .footer-logo-navsection {
    margin-left: 50px;
  }
}
